@model System.Collections.Generic.List<AppMovies.Models.Actor>

@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col-md-12">
        <form class="input-group" method="get" action="@Url.Action("Actors")">
            <input type="text" class="form-control search-input" name="searchTerm" placeholder="Enter the title to search a movie" style="background-color: #222222; color: #fff; border: 1px solid #222222;" value="@ViewBag.SearchTerm">
            <span class="input-group-btn" style="margin-left: 10px;">
                <button type="submit" class="btn btn-primary dark-button" style="background-color: #222222;">Search</button>
            </span>
            @if (!string.IsNullOrEmpty(ViewBag.SearchTerm))
            {
                <span class="input-group-btn" style="margin-left: 10px;">
                    <a href="@Url.Action("Actors")" class="btn btn-primary dark-button" style="background-color: #222222;">Clear</a>
                </span>
            }
        </form>
    </div>
</div>

@if (!string.IsNullOrEmpty(ViewBag.SearchTerm))
{
    <div class="row">
        <div class="col-md-12">
            <h4>You searched for: @ViewBag.SearchTerm</h4>
        </div>
    </div>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 text-center item-container" style="margin-bottom: 2em;">
            <div class="image-container">
                <a href="@Url.Action("Details", "Actors", new { id = item.ActorId })">
                    <img src="@item.Photo" alt="@item.Photo" class="img-responsive image-hover">
                </a>
            </div>
            <div style="margin-top: 1em;">
                <h4>@item.FirstName @item.LastName</h4>
                <div class="badge-container">
                    <span class="badge badge-info">@item.NumberOfMovies movies</span>
                </div>
            </div>
        </div>
    }
</div>
