<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="/Images/Logo.png" style="width: 35px" alt="Logo" class="logo-image">
            </a>
            @Html.ActionLink("MyTheater", "Index", "Home", new { area = "" }, new { @class = "navbar-brand selected" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Movies", "Index", "Home")</li>
                <li>@Html.ActionLink("Directors", "Directors", "Directors")</li>
                <li>@Html.ActionLink("Actors", "Actors", "Actors")</li>
            </ul>
            
            @{
                var userId = HttpRuntime.Cache.Get("UserId") as string;
            }
            
            @if (string.IsNullOrEmpty(userId))
            {

                <form class="navbar-form navbar-right" action="@Url.Action("Login", "Authentication")" method="post">
                    <div class="form-group dark-form-group">
                        <input style="background-color: #474747; color: #fff; border: none;" type="text" class="form-control" name="username" placeholder="E-Mail">
                    </div>
                    <div class="form-group dark-form-group">
                        <input style="background-color: #474747; color: #fff; border: none;" type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary dark-button">Log-In</button>
                    <button onclick="location.href='@Url.Action("LogOut", "Authentication")'" class="btn btn-primary dark-button">Sign Up</button>
                </form>
            }
            else
            {
                <div class="nav navbar-nav navbar-right centered-navbar" style="margin-top: 0.5em; margin-left: 1em">
                    <img src="@ViewBag.CurrentUser.Photo" alt="@ViewBag.CurrentUser.FirstName" style="max-height: 2.5em; border-radius: 50%; margin-right: 1em" />
                    <span>Welcome, @ViewBag.CurrentUser.FirstName @ViewBag.CurrentUser.LastName!</span>
                    <button style="margin-left: 1em" onclick="location.href='@Url.Action("LogOut", "Authentication")'" class="btn btn-primary dark-button">Log Out</button>
                </div>
            }
            
        </div>

    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.2023 - MyTheater</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>