@model AppMovies.Models.MovieWithDetails

@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col-md-4">

        <img src="@Model.Movie.Picture" alt="Movie Photo" style="max-height: 32em;"/>

    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-9">
                <h3>@Model.Movie.Title</h3>
            </div>
            <div class="col-md-1">
                @{
                    var currentUserId = HttpRuntime.Cache.Get("UserId") as string;
                }
                
                        @if (!string.IsNullOrEmpty(currentUserId))
                        {
                            if (ViewBag.IsFavorite==1)
                            {
                                <a href="@Url.Action("RemoveFromFavorites", "Favorite", new { movieId = @Model.Movie.MovieId })" class="btn btn-primary dark-button" id="addToFavoriteButton">
                                    <img src="../../Images/Favorite.png" alt="Like"/>
                                    <label>Remove from favorites</label>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("AddToFavorites", "Favorite", new { movieId = @Model.Movie.MovieId })" class="btn btn-primary dark-button" id="addToFavoriteButton">
                                  <img src="../../Images/NotFavorite.png" alt="Like"/>
                                  <label>Add to favorites</label>
                                </a>
                            }
                        }
            </div>
        </div>
        <span class="badge badge-secondary" style="margin-bottom: 2em">@Model.Movie.Year</span>
        <div class="rating" style="width: 12em">
            @for (int i = 0; i < @Model.Movie.OverallRating; i++)
            {
                <span class="star yellow"></span>
            }
            @if (@Model.Movie.OverallRating % 1 != 0)
            {
                <span class="star yellow half"></span>
            }
            @for (int i = @Model.Movie.OverallRating + 1; i <= 5; i++)
            {
                <span class="star"></span>
            }
        </div>
        <p style="margin-top: 1em">@Model.Movie.Description</p>

    </div>
</div>


<!-- Directors -->
<h3>Directors</h3>
<table class="table">
    <thead>
    <tr>
        <th>Director</th>
        <th>Info</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Directors)
    {
        <tr>
            <td><img src="@item.Photo" alt="@item.FirstName @item.LastName" style="max-height: 8em;" /></td>
            <td>
                <div>
                    <h5>@item.FirstName @item.LastName</h5>
                    <span class="badge badge-secondary">@item.Age years</span>
                </div>
            </td>
            <td><p>@item.Description</p></td>
        </tr>
    }
    </tbody>
</table>


<!-- Actors -->
<h3>Actors</h3>
<table class="table">
    <thead>
    <tr>
        <th>Actor</th>
        <th>Info</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Actors)
    {
        <tr>
            <td><img src="@item.Photo" alt="@item.FullName" style="max-height: 8em;" /></td>
            <td>
                <div>
                    <h5>@item.FullName</h5>
                    <span class="badge badge-secondary">@item.NumberOfMovies movies</span>
                </div>
            </td>
            <td><p>@item.Description</p></td>
        </tr>
    }
    </tbody>
</table>


<!-- Comments -->
<h3>Comments (@Model.Movie.RatingsCount)</h3>


@{
    var userId = HttpRuntime.Cache.Get("UserId") as string;
}
            
@if (!string.IsNullOrEmpty(userId))
{
    <!-- Button to open modal -->
    <button type="button" class="btn btn-primary dark-button" style="background-color: #222222" data-toggle="modal" data-target="#myModal">Write a review</button>
}


<table class="table">
    <thead>
    <tr>
        <th>User</th>
        <th>Info</th>
        <th>Rating</th>
        <th>Comment</th>
        <th>Posted at</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Ratings)
    {
        <tr>
            <td><img src="@item.Photo" alt="@item.FullName" style="max-height: 8em; border-radius: 50%;" /></td>
            <td>
                <div>
                    <h5>@item.FullName</h5>
                    
                    
                    @{
                        var currentLoggedUserId = HttpRuntime.Cache.Get("UserId") as string;
                    }

                    @if (!string.IsNullOrEmpty(currentLoggedUserId))
                    {
                        {
                            var hasVote = Model.Votes.Any(v => v.RatingId == item.RatingId);
                            if (hasVote)
                            {
                                var currentVote = Model.Votes.FirstOrDefault(v => v.RatingId == item.RatingId);
                                var voteValue = currentVote.VoteValue;

                                if (voteValue == 1)
                                {
                                    //HAS LIKE
                                    <div>
                                        <a class="btn btn-primary dark-button" id="likeButton" href="@Url.Action("RemoveLike", "Votes", new { ratingId = @item.RatingId, movieId = @item.MovieId })">
                                            <img src="../../Images/LikeSelected.png" alt="Like"/>
                                        </a>
                                        <span id="likeCount">(@item.Likes)</span>
                                    </div>

                                    <div>
                                        <a class="btn btn-primary dark-button" id="disLikeButton" href="@Url.Action("LikeDisLikeRating", "Votes", new { ratingId = @item.RatingId, ratingValue = -1, movieId = @item.MovieId })">
                                            <img src="../../Images/DisLike.png" alt="Like"/>
                                        </a>
                                        <span id="dislikeCount">(@item.DisLikes)</span>
                                    </div>
                                }

                                if (voteValue == -1)
                                {
                                    //HAS DISLIKE
                                    <div>
                                        <a class="btn btn-primary dark-button" id="likeButton" href="@Url.Action("LikeDisLikeRating", "Votes", new { ratingId = @item.RatingId, ratingValue = 1, movieId = @item.MovieId })">
                                            <img src="../../Images/Like.png" alt="Like"/>
                                        </a>
                                        <span id="likeCount">(@item.Likes)</span>
                                    </div>

                                    <div>
                                        <a class="btn btn-primary dark-button" id="disLikeButton" href="@Url.Action("RemoveLike", "Votes", new { ratingId = @item.RatingId, movieId = @item.MovieId })">
                                            <img src="../../Images/DisLikeSelected.png" alt="Like"/>
                                        </a>
                                        <span id="dislikeCount">(@item.DisLikes)</span>
                                    </div>
                                }
                            }
                            else
                            {
                                //HAS NOT BEEN VOTED YET
                                <div>
                                    <a class="btn btn-primary dark-button" id="likeButton" href="@Url.Action("LikeDisLikeRating", "Votes", new { ratingId = @item.RatingId, ratingValue = 1, movieId = @item.MovieId })">
                                        <img src="../../Images/Like.png" alt="Like" />
                                    </a>
                                    <span id="likeCount">(@item.Likes)</span>
                                </div>

                                <div>
                                    <a class="btn btn-primary dark-button" id="disLikeButton" href="@Url.Action("LikeDisLikeRating", "Votes", new { ratingId = @item.RatingId, ratingValue = -1, movieId = @item.MovieId })">
                                        <img src="../../Images/DisLike.png" alt="Like" />
                                    </a>
                                    <span id="dislikeCount">(@item.DisLikes)</span>
                                </div>
                            }
                        }
                    }
                    else
                    {
                        //LOGGED OUT
                        <div>
                            <img src="../../Images/Like.png" alt="Like" />
                            <span id="likeCount">(@item.Likes)</span>
                        </div>

                        <div>
                            <img src="../../Images/DisLike.png" alt="Like" />
                            <span id="dislikeCount">(@item.DisLikes)</span>
                        </div>
                        
                    }

                    </div>
            </td>
            <td>
                <div class="rating" style="width: 12em">
                    @for (int i = 0; i < @item.RatingValue; i++)
                    {
                        <span class="star yellow"></span>
                    }
                    @if (@item.RatingValue % 1 != 0)
                    {
                        <span class="star yellow half"></span>
                    }
                    @for (int i = @item.RatingValue + 1; i <= 5; i++)
                    {
                        <span class="star"></span>
                    }
                </div>
            </td>
            <td><p>@item.Comment</p></td>
            <td><p>@item.DateTimeStamp</p></td>
        </tr>
    }
    </tbody>
</table>

<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document"> <!-- Add modal-lg class -->
    <div class="modal-content modal-dark" style="color: white; background-color: #222222">
      <div class="modal-header">
        <div class="row">
            <div class="col-md-1">
                <img src="@Model.Movie.Picture" alt="Movie Photo" style="max-height: 7em;"/>
            </div>
            <div class="col-md-11">
                <h3>@Model.Movie.Title</h3>
                <span class="badge badge-secondary" style="margin-bottom: 2em">@Model.Movie.Year</span>
            </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
            <!-- Content for the modal -->
            <div>
                <button type="button" class="btn btn-primary dark-button" onclick="selectNumber(1)">1</button>
                <button type="button" class="btn btn-primary dark-button" onclick="selectNumber(2)">2</button>
                <button type="button" class="btn btn-primary dark-button" onclick="selectNumber(3)">3</button>
                <button type="button" class="btn btn-primary dark-button" onclick="selectNumber(4)">4</button>
                <button type="button" class="btn btn-primary dark-button" onclick="selectNumber(5)">5</button>
            </div>

<form action="@Url.Action("PostReview", "Review")" method="post">
    <div id="selectedNumberContainer">
        <h4><span id="selectedNumber"></span> out of 5 stars</h4>
        <input type="hidden" id="selectedNumberInput" name="selectedNumber" value="" />
        <input type="hidden" id="selectedMovie" name="selectedMovie" value="@Model.Movie.MovieId" />
    </div>

    <div class="form-group">
        <textarea placeholder="Write your review" class="form-control" id="reviewText" name="reviewText" rows="5" style="width: 100%; max-width: 2280px; background-color: #363636; color: white"></textarea>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary dark-button" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary dark-button">Post review</button>
    </div>
</form>

<script>
    function selectNumber(number) {
        document.getElementById("selectedNumber").textContent = number;
        document.getElementById("selectedNumberInput").value = number;
    }

</script>
        </div>
    </div>
  </div>
</div>







